{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "preact"
  ],
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-invalid-this": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "@typescript/no-use-before-define": "off",
    "react/jsx-indent": [
      2,
      2
    ],
    "react/jsx-indent-props": [
      2,
      2
    ]
  }
}